body {
    background-color: black;
}

.wrap {
    width: 100%;
}

.floatLeft {
    float: left;
    width: 60%;
}

.logoImage {
    max-width: 100%;
    object-fit: contain;
}

.floatReft {
    float: right;
    width: 50%;
}

h1 {
    color: #8F4E8B;
    text-align: left;
    font-size: 32px;
}

ul {
    list-style-type: none;
}

li {
    color: #CCCCCC;
    font-size: 32px;
}

li a {
    color: inherit;
    text-decoration: inherit;
}
